/*-----------------------------------------------------------------------------
Shape Shed Code Screen Stylesheet
 
version: 1.0
date: 05/08/09
author: George Ornbo
email: george at shapeshed dot com
website: http://shapeshed.com
 
-----------------------------------------------------------------------------*/
 
/* Reset
Eric Meyer's Reset - http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* HTML 5 - trigger the new block level elements in to the correct content flow
Remy Sharp - http://html5doctor.com/html-5-boilerplates/
-----------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { 
	display: block; 
}

/* Set up the document
-----------------------------------------------------------------------------*/
body
  {
  font: 75%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  background: #999999 url(/images/backgrounds/background.jpg) repeat-x;
  color: #000;  
  text-align:center;
}
#wrapper
  {
	width: 940px; 
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 1.5em;
	padding: 10px;
	background: rgba(51,51,51,0.8); 
	color: #fff;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;

}
/* Typography
-----------------------------------------------------------------------------*/
h1
  {
  font-size: 2em;
  line-height: 0.75em;
  margin-bottom: 0.75em; /* margin-bottom = 18pt */
}
h2 {
  font-size: 1.6666666666666667em; /* 20 pt */
  line-height: 0.9em; /* 20 * line-height = 18pt */
  margin-bottom: 0.9em; /* 20 * margin-bottom = 18pt */
}
h3 {
  clear: left;
  font-size: 1.5em; /* 18 pt */
  line-height: 1em; /* 18 * line-height = 18pt */
  margin-bottom: 1em; /* 18 * margin-bottom = 18pt */
}
h4 {
  font-size: 1.3333333333333333em; /* 16 pt */
  line-height: 1.125em; /* 18 * line-height = 18pt */
  margin-bottom: 1.125em; /* 18 * margin-bottom = 18pt */
}
h5 {
  font-size: 1.1666666666666667em; /* 14 pt */
  line-height: 1.2857142857142858em; /* 18 * line-height = 18pt */
  margin-bottom: 1.2857142857142858em; /* 18 * margin-bottom = 18pt */
}
h6 {
  font-size:1em; /* 12 pt */
  line-height: 1.5em; /* 18 * line-height = 18pt */
  margin-bottom: 1.5em; /* 18 * margin-bottom = 18pt */
}  
p, q, cite, address
  {
  font-size:1em; /* 12 pt */
  line-height: 1.5em; /* 18 * line-height = 18pt */
  margin-bottom: 1.5em; /* 18 * margin-bottom = 18pt */
}
ul, ol, dl
  {
  font-size: 1em; /* Equivalent to 12pt */
  margin-bottom: 1.5em; /* margin-bottom = 18pt */
}
li, dd, dt
  {
  font-size: 1em; /* Equivalent to 12pt */  
}
a
  {
  text-decoration: none;
  color: #ff0066;
  outline:none;
}
a:hover
  {
  border-bottom: none;
  color: #ff6699;  
}
code, samp, dfn, kbd, var, acronym, ins, del
  {
 
}
abbr {
  speak: spell-out;
}
 
acronym {
  speak: normal;
}


/* Header
-----------------------------------------------------------------------------*/
header
	{
	width: 100%;
	background: rgba(102,102,102,0);
	text-align:center;
	float: left;
}
header nav
  {

	text-align:right;

	padding: 10px;
	background: rgba(51,51,51,0.7);
	color: #fff;
}
header nav ul
	{
	list-style: none;	
	margin-bottom: 0;
}
header nav ul li
	{
	display: inline;
	margin-left: px;
		
}
header nav ul li a
	{	
	background: #fc9200; 
	display: inline-block; 
	padding: 5px 15px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;	
}
header nav ul li a:hover
	{ 
	background-color: #ffb515; 
	display: inline-block; 
	padding: 5px 15px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
/* Homepage
-----------------------------------------------------------------------------*/
#intro p
	{
	font-size: 3em;	
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,1);
	margin-top: 1.5em;
}
/* EE Section page
-----------------------------------------------------------------------------*/

#ee-plugins h3, #ee-extensions h3, #ee-modules h3
	{
	margin-bottom: 0;
}




/* Article page
-----------------------------------------------------------------------------*/
article
	{
	margin-top: 4.5em;
}
article h1
	{
	margin-bottom: 0;
	text-shadow: 0 -1px 1px rgba(0,0,0,1);	
}

#tabs
	{
	margin-top: 5px;
	list-style:none;	
}
#tabs li
	{
	display:inline;	
	background: #528fae; 
	display: inline-block; 
	padding: 5px 15px 6px; 
	margin-top: 10px;
	color: #fff; 
	text-decoration: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
}
#tabs li a
	{
	color: #fff;	
}

/* Footer
-----------------------------------------------------------------------------*/
footer
	{
	margin-top: 1.5em;
	 background: transparent url(/images/backgrounds/footer_top.png) top left no-repeat;	
}
footer p
	{
	padding-top: .75em;
	margin-bottom: 0;
	clear: both;	
}
footer section
	{
	min-height: 138px;	
}

#twitter
	{
	width:280px;
	margin-top: 1.5em;
	float: left;
	padding: 10px;
	color: #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-box-shadow: 0 1px 3px rgba(51,51,51,1);
	-webkit-box-shadow: 0 1px 3px rgba(51,51,51,1);
	color: rgba(255,255,255,0.9);
 	background: rgba(85,153,187,0.9) url(/images/backgrounds/twitter_logo.png) 96% 92% no-repeat;
}
#twitter ul
	{
	list-style:none;	
}
#twitter ul li
	{
	margin-bottom: 0em;	
}
#twitter ul li span
	{
	color: rgba(0,0,0,0.7);
	text-shadow: none;
	font-style: italic;
}
#lastfm
	{
	width:280px;
	margin-top: 1.5em;
	float: left;
	padding: 10px;
	background: rgba(255,102,0,0.8);
	color: #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-box-shadow: 0 1px 3px rgba(51,51,51,1);
	-webkit-box-shadow: 0 1px 3px rgba(51,51,51,1);
 	background: rgba(255,102,0,0.8) url(/images/backgrounds/lastfm_logo.png) 96% 92% no-repeat;
	margin-left:20px;
}
#lastfm h3
	{
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);	
}

#lastfm a, #lastfm
	{
	color: rgba(255,255,255,1);	
}

#lastfm img
	{
	float: left;	
}
#lastfm p
	{
	float: right;
	clear: right;
	width: 140px;
	margin-bottom: 0;	
}

#lastfm h3
	{
	width: 140px;
	margin-bottom: 0;
	float: right;
	display: inline;	
}
.time
	{
	color: rgba(0,0,0,0.7);
	text-shadow: none;
	font-style: italic;
}


#flickr
	{
	width:280px;
	margin-top: 1.5em;
	float: right;
	padding: 10px;
 	background: rgba(255,0,102,0.8) url(/images/backgrounds/flickr_logo.png) 96% 92% no-repeat;
	color: #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-box-shadow: 0 1px 3px rgba(51,51,51,1);
	-webkit-box-shadow: 0 1px 3px rgba(51,51,51,1);
	margin-left: 20px;
	text-align: center;
}
#flickr h4
	{
	text-align:left;	
}
#flickr ul
	{
	list-style: none;
	margin-bottom: 0;	
}
#flickr ul li
	{
	display: inline;	
	margin-bottom: 0;
	padding-bottom: 0;
	padding: 5px;
}

#flickr img
	{
	border: 4px solid rgba(255,255,255,1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Code Syntax Highlighting
-----------------------------------------------------------------------------*/
.highlight {background-color: #202020;}
.highlight .hll { background-color: #404040 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */


 
/* Tables
-----------------------------------------------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#tickets table
	{
	width: 100%;
}

#tickets table tr
	{
	background-color: #fff;	
}

#tickets table a
	{
	color: #666;
	display: block;
	border-bottom: 0;	
}
#tickets table tr td, #tickets table tr th
	{
	padding: 5px;
}
#tickets table tr td
	{
	border-bottom: 1px dotted #ccc;	
}
#tickets table tr th:first-of-type 
	{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}
#tickets table tr th:last-of-type
	{
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;	
}

#tickets table tr td.new a
	{
	color: rgb(255, 17, 119);
}
#tickets table tr td.open a
	{
	color: rgb(170, 170, 170);
}
#tickets table tr td.hold a
	{
	color: rgb(238, 187, 0);
}
#tickets table tr td.hold a
	{
	color: rgb(170, 51, 0);
}
#tickets table tr td.resolved a
	{
	color: rgb(102, 170, 0);
}
th {
	background: #ccc;
}


 
