<!DOCTYPE html>
<html>
	<head>
	<title>{% if page.title %}{{ page.title }}{% endif %}</title>
	<!-- Meta -->
	{% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
	{% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
	<meta name="verify-v1" content="Lhl7MHoyCkzeBFuaF4saKjWREFB3QZCi8th41hF/D20=" />
	<!-- CSS -->
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="Shape Shed on Github" href="http://feeds.feedburner.com/shapeshed-github" />
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/expressionengine/">ExpressionEngine</a></li>
				<li><a href="/html-css/">HTML / CSS</a></li>
				<li><a href="/javascript/">JavaScript</a></li>
				<li><a href="/perl/">Perl</a></li>
				<li><a href="/shell-scripts/">Shell Scripts</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</nav>
	</header>
<div id="wrapper">
