---
layout: default
---
	<div id="post">
	{{ content }}
	</div>

	<table id="lighthouse">
		<tr>
			<th>#</th>
			<th>Ticket</th>
			<th>Milestone</th>
			<th>Created at</th>
			<th>Updated at</th>
			<th>Status</th>
		</tr>
	</table>

	<div id="related">
	  <h2>Related Posts</h2>
	  <ul class="posts">
	    {% for post in site.related_posts limit:3 %}
	      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>

	</div>
